version: '3.8'

services:
  spring-server:
    build: .
    ports:
      - "8080:8080"
    logging:
        driver: "json-file"
        options:
            max-size: "10m"
            max-file: "3"
    restart: always
